# Analyzing Variations in Tech Salaries Between Different Cities: Investigating Influential Factors

## Introduction
This research project explores variations and factors affecting tech salaries between different cities, leveraging a dataset from results of a 2016 Hacker News survey about salaries and bonuses. 

The data is obtained from [Kaggle Notebook](https://www.kaggle.com/datasets/thedevastator/know-your-worth-tech-salaries-in-2016), original source by Brandon Telle [[source]](https://data.world/brandon-telle/2016-hacker-news-salary-survey-results). This dataset includes details about salaries in the tech industry in 2016, including information such as employer names, locations, job titles, experience levels, and compensation details. 

The primary focus of this reserach is on analyzing the disparities in salaries across different locations internationally and understanding the potential factors influencing these variations. The research question guiding this investigation is: "How do salaries in the tech industry vary between different cities, and what factors contribute to these variations?" By analyzing this dataset, I aim to uncover patterns and correlations between salary and associated variables that can contribute to a more nuanced understanding of compensation trends within the tech sector.

Dependent variable (Y):
Annual base pay is set to be the dependent variable. This variable represents the annual base salary of the respondents in the tech industry, not including bonuses. It serves as the dependent variable in our analysis because it encapsulates the compensation received by individuals and is a key metric in understanding the US salary landscape. 

Independent variables (X): The following variables are set to be the independent variables: location (city), job category, employer name. job title. These chosen independent variables collectively provide a comprehensive view of factors influencing annual base pay in the tech industry, directly addressing my research question on the variations in salaries between cities and the underlying factors contributing to these variations.
- *Location (city)*: The geographic location can significantly impact salary levels due to variations in living costs and demand for tech professionals. By including location_name as an independent variable, I aim to investigate how salaries differ between cities. This aligns with the research question, which focuses on exploring average salaries in various cities within the tech industry.
- *Job category*: The nature of the job, whether it's a software, data, engineering, or management can influence the salary level. Categorizing job roles helps examine how distinct fields in the tech industry contribute to salary variations. This variable is crucial for analysis as I seek to understand the impact of job categories on annual base pay.
- *Employer name*: The reputation and financial capabilities of the employer can influence salary levels. Larger, more established companies might offer higher salaries compared to smaller startups. Including employer_name as an independent variable allows me to explore the relationship between the reputation or size of the employer and the annual base pay received by the respondents. This adds a corporate dimension to my analysis, investigating how company reputation and stature affect compensation.
- *Job title*: The specific role held can directly impacting salary levels as different job positions often come with distinct responsibilities and skill requirements. Analyzing the impact of job titles on annual base pay helps uncover the hierarchical and positional factors contributing to salary variations in the tech sector. By considering job_title as an independent variable, I aim to compare salaries between equivalent positions across different cities, which will allow for a more detailed breakdown of salary differences.
- *Total experience years*: The total number of years of professional experience the respondent has accumulated is an expected influencing factor on salary because individuals with more experience tend to command higher pay due to their acquired skills, expertise, and experience in the industry. Examining the experience level can reflect the market value of an individual's expertise in different locations, providing a more comprehensive understanding of the dynamics influencing compensation in the tech industry.

# Data Cleaning

In [10]:
import numpy as np
import pandas as pd

In [11]:
#load in dataset
df = pd.read_csv("/Users/macychen/ECO225Project/Data/salaries_clean.csv", low_memory=False)

#display first five dataframe rows
df.head()

,index,salary_id,employer_name,location_name,location_state,location_country,location_latitude,location_longitude,job_title,job_title_category,job_title_rank,total_experience_years,employer_experience_years,annual_base_pay,signing_bonus,annual_bonus,stock_value_bonus,comments,submitted_at
0,0,1,opower,"san francisco, ca",CA,US,37.77,-122.41,systems engineer,Engineering,NaN,13.0,2.0,125000.0,5000.0,0.0,5000 shares,Don't work here.,3/21/16 12:58
1,1,3,walmart,"bentonville, ar",AR,US,36.36,-94.20,senior developer,Software,Senior,15.0,8.0,65000.0,NaN,5000.0,"3,000",NaN,3/21/16 12:58
2,2,4,vertical knowledge,"cleveland, oh",OH,US,41.47,-81.67,software engineer,Software,NaN,4.0,1.0,86000.0,5000.0,6000.0,0,NaN,3/21/16 12:59
3,3,6,netapp,waltham,MA,US,NaN,NaN,mts,Other,NaN,4.0,0.0,105000.0,5000.0,8500.0,0,NaN,3/21/16 13:00
4,4,12,apple,cupertino,CA,US,NaN,NaN,software engineer,Software,NaN,4.0,3.0,110000.0,5000.0,7000.0,150000,NaN,3/21/16 13:02

In [19]:
#drop unneeded columns
new_df = df.drop(columns=["location_state", "job_title_rank", "employer_experience_years", "signing_bonus", "annual_bonus", "stock_value_bonus", "comments", "submitted_at"])

new_df.head()

,index,salary_id,employer_name,location_name,location_country,location_latitude,location_longitude,job_title,job_title_category,total_experience_years,annual_base_pay
0,0,1,opower,"san francisco, ca",US,37.77,-122.41,systems engineer,Engineering,13.0,125000.0
1,1,3,walmart,"bentonville, ar",US,36.36,-94.20,senior developer,Software,15.0,65000.0
2,2,4,vertical knowledge,"cleveland, oh",US,41.47,-81.67,software engineer,Software,4.0,86000.0
3,3,6,netapp,waltham,US,NaN,NaN,mts,Other,4.0,105000.0
4,4,12,apple,cupertino,US,NaN,NaN,software engineer,Software,4.0,110000.0

In [20]:
#drop rows that have missing values for annual base pay
new_df.dropna(subset=['employer_name', 'annual_base_pay', 'total_experience_years'], inplace=True)

#display percentage of missing data (null value) in each column: number of NaNs/total number of index
round(100*(new_df.isnull().sum()/len(new_df.index)), 2)

index                      0.00
salary_id                  0.00
employer_name              0.00
location_name              0.00
location_country           4.37
location_latitude         52.28
location_longitude        52.28
job_title                  0.00
job_title_category         0.00
total_experience_years     0.00
annual_base_pay            0.00
dtype: float64

In [29]:
#drop values after comma
new_df.dropna(subset=['location_country'], inplace=True)

new_df.head()

,index,salary_id,employer_name,location_name,location_country,location_latitude,location_longitude,job_title,job_title_category,total_experience_years,annual_base_pay
0,0,1,opower,san francisco,US,37.77,-122.41,systems engineer,Engineering,13.0,125000.0
1,1,3,walmart,bentonville,US,36.36,-94.20,senior developer,Software,15.0,65000.0
2,2,4,vertical knowledge,cleveland,US,41.47,-81.67,software engineer,Software,4.0,86000.0
3,3,6,netapp,waltham,US,NaN,NaN,mts,Other,4.0,105000.0
4,4,12,apple,cupertino,US,NaN,NaN,software engineer,Software,4.0,110000.0